<i class="icon icon-huge ion-loading-c"></i>
<h4><i class="fa fa-table"></i>&nbsp;Extraction Preview&nbsp;
    <small>(only the first {{ preview_limit }} contacts are shown)</small>
</h4>
<div class="table-responsive">
    <table id="leads_table" class="table table-hover" width="100%">
        <thead>
        <tr>
            <th>Phone</th>
            <th>Gender</th>
            <th>Birthdate</th>
            <th>Country</th>
            <th>Postalcode1</th>
            <th>Postalcode2</th>
            <th>District</th>
            <th>County</th>
            <th>Parish</th>
            <th>Owner</th>
            <th>Source</th>
            <th>Category</th>
            <th>SubCategory</th>
            <th>Date</th>
        </tr>
        </thead>
        <tbody>
        {% if extraction_contacts_preview is defined %}
            {% for extraction_contact in extraction_contacts_preview %}
                <tr>
                    <td>{{ extraction_contact.contact.lead.phone|default('-') }}</td>
                    <td>{{ extraction_contact.contact.gender.name|default('-') }}</td>
                    <td>{{ extraction_contact.contact.birthdate|date('Y-m-d')|default('-') }}</td>
                    <td>{{ extraction_contact.contact.country.name|default('-') }}</td>
                    <td>{{ extraction_contact.contact.postalcode1|default('-') }}</td>
                    <td>{{ extraction_contact.contact.postalcode2|default('-') }}</td>
                    <td>{{ extraction_contact.contact.district.name|default('-') }}</td>
                    <td>{{ extraction_contact.contact.county.name|default('-') }}</td>
                    <td>{{ extraction_contact.contact.parish.name|default('-') }}</td>
                    <td>{{ extraction_contact.contact.owner.name|default('-') }}</td>
                    <td>{{ extraction_contact.contact.source.name }}</td>
                    <td>{{ extraction_contact.contact.sub_category.category.name|default('-') }}</td>
                    <td>{{ extraction_contact.contact.sub_category.name|default('-') }}</td>
                    <td>{{ extraction_contact.contact.date|default('-')|date('Y-m-d') }}</td>
                </tr>
            {% endfor %}
        {% endif %}
        </tbody>
        <tfoot>
        <tr>
            <th>Phone</th>
            <th>Gender</th>
            <th>Birthdate</th>
            <th>Country</th>
            <th>Postalcode1</th>
            <th>Postalcode2</th>
            <th>District</th>
            <th>County</th>
            <th>Parish</th>
            <th>Owner</th>
            <th>Source</th>
            <th>Category</th>
            <th>SubCategory</th>
            <th>Date</th>
        </tr>
        </tfoot>
    </table>
</div>