<h4><i class="fa fa-filter"></i>&nbsp;Applied Filters</h4>
<div class="table-responsive">
    <table id="filters_summary_table" class="table table-hover" width="100%" data-toggle=simple_table>
        <thead>
        <tr>
            <th>Filter Type</th>
            <th>Filter Operation</th>
            <th>Field</th>
            <th>Values</th>
        </tr>
        </thead>
        <tbody>
        {% for filters in extraction.readableFilters %}
            {% for filter in filters %}
                <tr>
                    <td>{{ filter['filter_type'] }}</td>
                    <td>{{ filter['filter_operation'] }}</td>
                    <td>{{ filter['field'] }}</td>
                    <td>
                        {% for value in filter['values'] %}
                            {% if value is iterable %}
                                {{ value|json_encode }}
                            {% else %}
                                {{ value }}
                            {% endif %}
                            {% if not loop.last %},&nbsp;{% endif %}
                        {% endfor %}
                    </td>
                </tr>
            {% endfor %}
        {% endfor %}
        </tbody>
        <tfoot>
        <tr>
            <th>Filter Type</th>
            <th>Filter Operation</th>
            <th>Field</th>
            <th>Values</th>
        </tr>
        </tfoot>
    </table>
</div>