<div class="modal fade" id="create_locks_modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                            class="sr-only">Close</span>
                </button>
                <h4 class="modal-title"><i class="fa fa-plus"></i>&nbsp;Lock creation</h4>
            </div>
            <div class="modal-body">
                <p>Lock all extracted lead by:</p>

                {{ form_start(forms.extraction_locking, {attr: {'data-extraction': extraction.id }}) }}
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="btn-group btn-group-justified">
                                <div class="btn-group btn-group-lg">
                                    <label class="btn btn-default">
                                        <i class="fa fa-user"></i>&nbsp;
                                        {{ form_widget(forms.extraction_locking.lock_type.0) }}
                                        {{ form_label(forms.extraction_locking.lock_type.0) }}
                                    </label>
                                </div>
                                <div class="btn-group btn-group-lg">
                                    <label class="btn btn-default">
                                        <i class="fa fa-users"></i>&nbsp;
                                        {{ form_widget(forms.extraction_locking.lock_type.1) }}
                                        {{ form_label(forms.extraction_locking.lock_type.1) }}
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row space">
                        <div class="col-md-12">
                            <div class="btn-group btn-group-justified">
                                <div class="btn-group btn-group-lg">
                                    <label class="btn btn-default">
                                        <i class="fa fa-folder"></i>&nbsp;
                                        {{ form_widget(forms.extraction_locking.lock_type.2) }}
                                        {{ form_label(forms.extraction_locking.lock_type.2) }}
                                    </label>
                                </div>
                                <div class="btn-group btn-group-lg">
                                    <label class="btn btn-default">
                                        <i class="fa fa-file"></i>&nbsp;
                                        {{ form_widget(forms.extraction_locking.lock_type.3) }}
                                        {{ form_label(forms.extraction_locking.lock_type.3) }}
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{ form_rest(forms.extraction_locking) }}
                    {{ form_end(forms.extraction_locking) }}
                    <div class="row space">
                        <div class="col-md-12">
                            <blockquote>
                                <small>All extracted lead will be automatically locked for <b>{{ lock_time }}</b></small>
                            </blockquote>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button id="finalize_extraction_btn" class="btn btn-primary disabled" disabled="disabled"
                        data-url="{{ path('admin_listbroking_app_extraction_filtering', {id: extraction.id}) }}">
                    <i class="fa fa-list"></i>&nbsp;Finalize&nbsp;<i class="icon icon-large ion-loading-c" style="display: none;"></i>
                </button>
                <button data-dismiss="modal" class="btn btn-flat btn-default">CLOSE</button>
            </div>
        </div>
    </div>
</div>