<div class="modal fade double_modal" id="lead_deduplication_modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                            class="sr-only">Close</span>
                </button>
                <h4 class="modal-title"><i class="fa fa-download"></i>&nbsp;Download for Deduplication</h4>
            </div>
            <div class="modal-body">
                <blockquote class="small-label">
                    <div class="form-group">
                        <label>Template</label>
                        <input id="deduplication_template" type="hidden" data-select-mode="ajax" data-select-minimum-input="0" data-select-type="ExtractionTemplate" data-placeholder="Select a
                        template..." class="form-control
                        row-margin" value="1">
                    </div>
                    <div class="alert alert-info bigger-space" role="alert">
                        <i class="fa fa-info text-primary"></i>
                        <ul class="smaller-text">
                            <li>File with contact information for deduplication</li>
                            <li>As a security measure, lists can only be sent to <u>it's creator</u> in a zipped file with password</li>
                            <li>This list will be sent to: <u>{{ app.user.email }}</u></li>
                        </ul>
                    </div>
                </blockquote>
            </div>
            <div class="modal-footer small">
                <button type="button" id="deduplication_download" data-extraction="{{ extraction.id }}" class="btn btn-flat btn-primary space">
                    <i class="fa fa-envelope-o"></i>&nbsp;SEND&nbsp;
                    <i class="loading ion-loading-c" style="display: none;"></i>
                </button>
            </div>
        </div>
    </div>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                            class="sr-only">Close</span>
                </button>
                <h4 class="modal-title"><i class="fa fa-upload"></i>&nbsp;Upload for Deduplication</h4>
            </div>
            {{ form_start(forms.extraction_deduplication, {attr: {'data-extraction': extraction.id}}) }}
            <div class="modal-body">
                <blockquote class="small-label">
                    {{ form_row(forms.extraction_deduplication.deduplication_type) }}
                    {{ form_row(forms.extraction_deduplication.field) }}
                    {{ form_row(forms.extraction_deduplication.remove_old_deduplication) }}
                    {{ form_label(forms.extraction_deduplication.upload_file) }}
                    <span class="btn btn-flat btn-primary fileinput-button form-control">
                        <i class="glyphicon glyphicon-plus"></i>
                        <span>Select file...</span>
                        <!-- The file input field used as target for the file upload widget -->
                        {{ form_widget(forms.extraction_deduplication.upload_file) }}
                    </span>
                    <small><strong id="files">No file chosen</strong></small>
                    <small>CSV file with duplicated leads (one column <strong>only</strong>)</small>
                    <small id="fileuploaderror" class="text-danger" style="display: none;"></small>

                    <div class="progress hidden">
                        <div class="progress-bar progress-bar-success"></div>
                    </div>
                    <div class="alert alert-info bigger-space" role="alert">
                        <i class="fa fa-info text-primary"></i>
                        <ul class="smaller-text">
                            <li>Deduplication files must follow a <u>strict</u> column format, please download the list to use as a guide</li>
                            <li>Each upload will override the previous</li>
                            <li><em>File with the leads to remove</em> - Removes leads from the extraction and reruns it</li>
                            <li><em>File with the leads to keep</em> - Only Keeps the leads on the imported list, the extraction will <u>not</u> rerun</li>
                        </ul>
                    </div>
                </blockquote>
            </div>

            <div class="modal-footer">
                <button id="extraction_deduplication_upload_button" type="button" class="btn btn-flat btn-primary">
                    <i class="fa fa-filter"></i>&nbsp;Deduplicate&nbsp;
                    <i class="loading ion-loading-c" style="display: none;"></i>
                </button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
            {{ form_rest(forms.extraction_deduplication) }}
            {{ form_end(forms.extraction_deduplication) }}
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div><!-- /.modal -->