<div class="modal fade" id="staging_contact_import_modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                            class="sr-only">Close</span>
                </button>
                <h4 class="modal-title"><i class="fa fa-upload"></i>&nbsp;Import database</h4>
            </div>
            {{ form_start(import_form) }}
            <div class="modal-body">
                <blockquote class="small-label">
                    <label>Database template:&nbsp;</label>
                    <a href="{{ path('ajax_staging_contact_import_template') }}" class="btn btn-primary"><i class="fa fa-download"></i>&nbsp;Download</a>

                    <div class="row">
                        <div class="col-md-6">{{ form_row(import_form.owner) }}</div>
                    </div>
                    <br>

                    <div class="row">
                        <div class="col-md-8">
                            {{ form_widget(import_form.update) }}
                            {{ form_label(import_form.update) }}
                            <small>For the update to work, the leads <b>contact_id</b> must be present</small>
                        </div>
                    </div>
                    <br>
                    <span class="btn btn-flat btn-primary fileinput-button form-control">
                        <i class="glyphicon glyphicon-plus"></i>
                        <span>Select file...</span>
                        <!-- The file input field used as target for the file upload widget -->
                        {{ form_widget(import_form.upload_file) }}
                    </span>
                    <small><strong id="files">No file chosen</strong></small>
                    <small>Only csv files allowed</small>
                    <small id="fileuploaderror" class="text-danger" style="display: none;"></small>

                    <div class="progress hidden">
                        <div class="progress-bar progress-bar-success"></div>
                    </div>


                    <div class="alert alert-info bigger-space" role="alert">
                        <i class="fa fa-info text-primary"></i>
                        <ul class="smaller-text">
                            <li>Imports must follow a <u>strict</u> column format, please download the template before importing a file</li>
                            <li>
                                If <em>"Update existing leads"</em> is checked the system will only import leads that have a <b>contact_id</b>
                                <ul>
                                    <li>This is used to clean leads externally</li>
                                    <li>This <u>must not</u> be used for new database Imports</li>
                                </ul>
                            </li>
                            <li>For new database importing please first create the <u>Owner</u> and the <u>Source</u>.
                                Also make sure that the Owner of the Source requested in all the lines, is the same as
                                the one selected above.
                            </li>
                        </ul>
                    </div>
                </blockquote>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button id="staging_contact_import_submit" class="btn btn-flat btn-primary"><i class="fa fa-upload"></i>&nbsp;Import</button>
            </div>
            {{ form_rest(import_form) }}
            {{ form_end(import_form) }}
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div><!-- /.modal -->