{% form_theme forms.client '@ListBrokingUI/forms/form_theme.html.twig' %}
{{ form_start(forms.client, {attr: {'data-form-type' :'ajax'}}) }}
    {{ form_row(forms.client.is_active) }}
    {{ form_row(forms.client.name, {icon: 'bookmark'}) }}
    {{ form_row(forms.client.account_name, {icon: 'bookmark-o'}) }}
    {{ form_row(forms.client.phone, {icon: 'phone'}) }}
    {{ form_row(forms.client.email_address, {icon: 'envelope'}) }}

    <button type="submit" class="btn btn-primary btn-flat">
        <i class="fa fa-check"></i>&#32;Save
    </button>
{{ form_end(forms.client) }}