<div class="table-responsive">
    <table id="leads_table" class="table table-hover" data-toggle="simple_table" width="100%">
        <thead>
        <tr>
            <th>Phone</th>
            <th>Gender</th>
            <th>Birthdate</th>
            <th>Country</th>
            <th>Postalcode1</th>
            <th>Postalcode2</th>
            <th>District</th>
            <th>County</th>
            <th>Parish</th>
            <th>Owner</th>
            <th>Source</th>
            <th>Category</th>
            <th>SubCategory</th>
            {% if extraction.status != 3 %}
            <th>Exclude?</th>
            {% endif %}
        </tr>
        </thead>
        <tbody>
        {% for contact in contacts %}
        <tr>
            <td>{{ contact['lead']['phone'] }}</td>
            <td>{{ contact['gender']['name'] }}</td>
            <td>{{ contact['birthdate']|date('Y-m-d') }}</td>
            <td>{{ contact['country']['name'] }}</td>
            <td>{{ contact['postalcode1'] }}</td>
            <td>{{ contact['postalcode2'] }}</td>
            <td>{{ contact['district']['name'] }}</td>
            <td>{{ contact['county']['name'] }}</td>
            <td>{{ contact['parish']['name'] }}</td>
            <td>{{ contact['owner']['name'] }}</td>
            <td>{{ contact['source']['name'] }}</td>
            <td>{{ contact['sub_category']['category']['name'] }}</td>
            <td>{{ contact['sub_category']['name'] }}</td>
            {% if extraction.status != 3 %}
            <td>
                <div class="btn-group lead_exclude">
                    <button class="exclude_lead btn btn-flat btn-xs btn-warning"><i class="fa fa-times"></i></button>
                    <button class="confirm_exclude_lead btn btn-flat btn-xs btn-danger" style="display: none;" data-extraction-id="{{ extraction.id }}" data-lead-id="{{ contact['lead']['id'] }}">exclude?</button>
                </div>
            </td>
            {% endif %}
        </tr>
        {% endfor %}
        </tbody>
        <tfoot>
        <tr>
            <th>Phone</th>
            <th>Gender</th>
            <th>Birthdate</th>
            <th>Country</th>
            <th>Postalcode1</th>
            <th>Postalcode2</th>
            <th>District</th>
            <th>County</th>
            <th>Parish</th>
            <th>Owner</th>
            <th>Source</th>
            <th>Category</th>
            <th>SubCategory</th>
            {% if extraction.status != 3 %}
            <th>Exclude?</th>
            {% endif %}
        </tr>
        </tfoot>
    </table>
</div>