<div class="modal fade" id="lead_deduplication_modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                            class="sr-only">Close</span>
                </button>
                <h4 class="modal-title"><i class="fa fa-times"></i>&nbsp;Lead Deduplication</h4>
            </div>
            <div class="modal-body">
                <blockquote class="small-label">
                    <div class="form-group">
                        <label>Download file</label>
                        <input type="hidden" data-select-mode="ajax" data-select-type="extraction_template" data-placeholder="Select a template..." class="form-control row-margin">
                        <button type="button" id="deduplication-download" data-extraction="{{ extraction.id }}" class="btn btn-flat btn-primary"><i class="icon icon-large ion-loading-c" style="display: none;"></i>&nbsp;Extract Leads List</button>
                    </div>
                    <small>Excel file with contact information for deduplication</small>
                </blockquote>
                </div>
            {{ form_start(forms.adv_exclusion, {attr: {'data-extraction': extraction.id}}) }}
            <div class="modal-body">
                <blockquote class="small-label">
                    {{ form_row(forms.adv_exclusion.field) }}
                    {{ form_label(forms.adv_exclusion.upload_file) }}
                    <span class="btn btn-flat btn-primary fileinput-button form-control">
                        <i class="glyphicon glyphicon-plus"></i>
                        <span>Select file...</span>
                        <!-- The file input field used as target for the file upload widget -->
                        {{ form_widget(forms.adv_exclusion.upload_file) }}
                    </span>
                    <small><strong id="files">No file chosen</strong></small>
                    <small>Excel file with duplicated contacts (one column <strong>only</strong>)</small>

                    <div class="progress hidden">
                        <div class="progress-bar progress-bar-success"></div>
                    </div>
                </blockquote>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button id="extraction_deduplication_upload_button" class="btn btn-flat btn-primary">Deduplicate</button>
            </div>
            {{ form_rest(forms.adv_exclusion) }}
            {{ form_end(forms.adv_exclusion) }}
        </div>
        <!-- /.modal-content -->
    </div> <!-- /.modal-dialog -->
</div><!-- /.modal -->