{% import "@ListBrokingUI/_partials/macros/table_macros.html.twig" as macros %}

<table id="example1" class="table table-hover" data-toggle="simple_table">
    <thead>
    <tr>
        <th>Active</th>
        <th>Name</th>
        <th>Payout</th>
        <th>Quantity</th>
        <th>Status</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    {% for extraction in extractions %}
    <tr>
        <td>{{ macros.isActive(extraction.isActive) }}</td>
        <td>{{ extraction.name }}</td>
        <td>{{ extraction.payout }}</td>
        <td>{{ extraction.quantity }}</td>
        <td>{{ macros.progress(extraction.status) }}</td>
        <td class="col-md-0"><a href="{{ path('extraction_filtering', { extraction_id : extraction.id }) }}" class="btn btn-sm btn-default pull-right"><i class="fa fa-pencil-square-o"></i>&nbsp;EDIT</a></td>
    </tr>
    {% endfor %}
    </tbody>
    <tfoot>
    <tr>
        <th>Active</th>
        <th>Name</th>
        <th>Payout</th>
        <th>Quantity</th>
        <th>Status</th>
    </tr>
    </tfoot>
</table>