{% extends '@SonataAdmin/standard_layout.html.twig' %}

{% block javascripts %}
    {{ parent() }}

    {# Used to expose routing to the client-side code #}
    <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>

    {# Gloval variables #}
    {% if extraction is defined %}
        <script type="text/javascript">
            ListBroking.variables.extractionId = '{{ extraction.id }}';
            ListBroking.variables.extractionStatus = '{{ extraction.status }}';
        </script>
    {% endif %}
{% endblock %}

{% block sonata_top_nav_menu %}
    {% include '@ListBrokingApp/_partials/sonata_top_nav_menu.html.twig' %}
{% endblock %}

{# Removes unnecessary layout stuff for iframes #}
{% block sonata_header %}
    {% if app.request.query.get("iframe") != 'true' %}
        {{ parent() }}
    {% endif %}
{% endblock %}

{% block sonata_wrapper %}
    {# Removes unnecessary layout stuff for iframes #}
    {% if app.request.query.get("iframe") == 'true'  %}
        <div style="padding: 0 1px 0 17px">
            {{ block('sonata_admin_content') }}
        </div>
    {% else %}
        <div class="wrapper row-offcanvas row-offcanvas-left">
            {% block sonata_left_side %}
                <aside class="left-side sidebar-offcanvas collapse-left">
                    <section class="sidebar">
                        {% block sonata_side_nav %}
                            {{ parent() }}
                        {% endblock sonata_side_nav %}
                    </section>
                </aside>
            {% endblock sonata_left_side %}

            <aside class="right-side strech">
                {% block sonata_page_content %}
                   {{ parent() }}
                {% endblock sonata_page_content %}
            </aside>
        </div>
    {% endif %}

{% endblock sonata_wrapper %}


{# Cleaner Actions menu #}
{% block sonata_page_content_nav %}
    {% if _tab_menu is not empty or _actions is not empty %}
        <nav class="navbar navbar-default" role="navigation">
            {% block tab_menu_navbar_header %}
               {{ parent() }}
            {% endblock %}
            <div class="container-fluid">
                <div class="navbar-left">
                    {% if _tab_menu is not empty %}
                        {{ _tab_menu|raw }}
                    {% endif %}
                </div>

                {% if _actions|replace({ '<li>': '', '</li>': '' })|trim is not empty %}
                    <ul class="nav navbar-nav navbar-right">
                        {{ _actions|raw }}
                    </ul>
                {% endif %}
            </div>
        </nav>
    {% endif %}
{% endblock sonata_page_content_nav %}