{% if (admin.isGranted('ROLE_SUPER_ADMIN', object) or admin.isGranted('ROLE_LISTBROKER',
object)) and admin.hasRoute('filtering') %}
    {% set status_final = constant('ListBroking\\AppBundle\\Entity\\Extraction::STATUS_FINAL') %}
    {% if object.status == status_final %}
        <a href="{{ admin.generateObjectUrl('filtering', object) }}" class="btn btn-sm btn-default edit_link" title="{{ 'action_show'|trans({}, 'SonataAdminBundle') }}">
            <i class="glyphicon glyphicon-search"></i>
            {{ 'action_show'|trans({}, 'SonataAdminBundle') }}
        </a>
    {% else %}
        <a href="{{ admin.generateObjectUrl('filtering', object) }}" class="btn btn-sm btn-primary edit_link" title="{{ 'action_filtering'|trans }}">
            <i class="glyphicon glyphicon-filter"></i>
            {{ 'action_filtering'|trans }}
        </a>
    {% endif %}

{% endif %}