{% extends sonata_block.templates.block_base %}

{% block block %}
    <div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">{{ title }}&nbsp;
            <small>(All values are processed once every 12 hours)</small>
        </h3>

    </div>
    <div class="panel" role="tabpanel">
        <div class="panel-body">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <a data-toggle="collapse" href="#stats_options" aria-expanded="true" aria-controls="stats_options"><i class="fa fa-plus"></i>&nbsp;Options</a>
                    </h3>
                </div>
                <div id="stats_options" class="panel-collapse collapse" role="tabpanel" aria-labelledby="stats_options-heading">
                    <div class="panel-body">
                        {{ form_start(form) }}
                        <h4>Filtration</h4>
                        <div class="row">
                            <div class="form-group col-md-2">
                                {{ form_widget(form.contact_date) }}
                            </div>
                            <div class="form-group col-md-2">
                                {{ form_row(form.entity_country) }}
                            </div>
                            <div class="form-group col-md-2">
                                {{ form_row(form.entity_source) }}
                            </div>
                            <div class="form-group col-md-2">
                                {{ form_row(form.entity_owner) }}
                            </div>
                            <div class="form-group col-md-2">
                                {{ form_row(form.entity_sub_category) }}
                            </div>
                        </div>
                        <hr>
                        <h4>Field Aggregation</h4>
                        <div class="row">
                            <div class="form-group col-md-2">
                                {{ form_row(form.aggregation_date) }}
                            </div>
                            <div class="form-group col-md-2">
                                {{ form_widget(form.aggregation_country) }}&nbsp;
                                {{ form_label(form.aggregation_country) }}
                            </div>
                            <div class="form-group col-md-2">
                                {{ form_widget(form.aggregation_source) }}&nbsp;
                                {{ form_label(form.aggregation_source) }}
                            </div>
                            <div class="form-group col-md-2">
                                {{ form_widget(form.aggregation_owner) }}&nbsp;
                                {{ form_label(form.aggregation_owner) }}
                            </div>
                            <div class="form-group col-md-2">
                                {{ form_widget(form.aggregation_sub_category) }}&nbsp;
                                {{ form_label(form.aggregation_sub_category) }}
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="form-group col-md-2">
                                {{ form_widget(form.aggregation_district) }}&nbsp;
                                {{ form_label(form.aggregation_district) }}
                            </div>
                            <div class="form-group col-md-2">
                                {{ form_widget(form.aggregation_county) }}&nbsp;
                                {{ form_label(form.aggregation_county) }}
                            </div>
                            <div class="form-group col-md-2">
                                {{ form_widget(form.aggregation_parish) }}&nbsp;
                                {{ form_label(form.aggregation_parish) }}
                            </div>
                            <div class="form-group col-md-2">
                                {{ form_widget(form.aggregation_postalcode1) }}&nbsp;
                                {{ form_label(form.aggregation_postalcode1) }}
                            </div>
                            <div class="form-group col-md-2">
                                {{ form_widget(form.aggregation_postalcode2) }}&nbsp;
                                {{ form_label(form.aggregation_postalcode2) }}
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="form-group col-md-2">
                                {{ form_widget(form.aggregation_gender) }}&nbsp;
                                {{ form_label(form.aggregation_gender) }}
                            </div>
                            <div class="form-group col-md-2">
                                {{ form_widget(form.aggregation_is_mobile) }}&nbsp;
                                {{ form_label(form.aggregation_is_mobile) }}
                            </div>
                        </div>
                        <hr>
                        <h4>Field Availability
                            <small>(YES/NO)</small>
                        </h4>

                        <div class="row">
                            <div class="form-group col-md-2">
                                {{ form_widget(form.availability_firstname) }}&nbsp;
                                {{ form_label(form.availability_firstname) }}
                            </div>
                            <div class="form-group col-md-2">
                                {{ form_widget(form.availability_birthdate) }}&nbsp;
                                {{ form_label(form.availability_birthdate) }}
                            </div>
                            <div class="form-group col-md-2">
                                {{ form_widget(form.availability_postalcode1) }}&nbsp;
                                {{ form_label(form.availability_postalcode1) }}
                            </div>
                            <div class="form-group col-md-2">
                                {{ form_widget(form.availability_postalcode2) }}&nbsp;
                                {{ form_label(form.availability_postalcode2) }}
                            </div>
                            <div class="form-group col-md-2">
                                {{ form_widget(form.availability_address) }}&nbsp;
                                {{ form_label(form.availability_address) }}
                            </div>
                        </div>
                        <hr>
                        <blockquote class="small-label">
                            <p>
                                <button type="submit" class="btn btn-primary btn-flat footer-button">
                                    <i class="fa fa-share"></i>&nbsp;Filter&nbsp;
                                </button>
                            </p>
                        </blockquote>
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>

            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <a data-toggle="collapse" href="#stats_options" aria-expanded="true" aria-controls="stats_options">Data Card</a>
                    </h3>
                </div>
                <div role="tabpanel">
                    <div class="panel-body">
                        {% if stats is not empty %}
                            <table class="table table-condensed table-hover" data-toggle="paginated_table">
                                <thead>
                                <tr>
                                    {% set headers = stats[0]|keys %}
                                    {% for header in headers if header != 'total' %}
                                        <th>{{ header|humanize|replace({" name": ""}) }}</th>
                                    {% endfor %}
                                    <th>Total</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for stat in stats %}
                                    <tr>
                                        {% for field in headers if field != 'total' %}
                                            {% set value = stat[field] %}
                                            {% if value is empty %}
                                                {% set value = 0 %}
                                            {% endif %}
                                            <td>{{ value }}</td>
                                        {% endfor %}
                                        <td>{{ stat['total'] }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}