<div style="font-family:Verdana,Arial"><h2 style="background:#0055a4;color:#ffffff;padding:5px">Summary</h2>
    <table cellspacing="1" width="100%">
        <tbody>
        <tr style="padding:4px;text-align:left">
            <th style="background:#cccccc" width="150px">Subject:</th>
            <td style="padding:4px;text-align:left;background:#eeeeee">An exception has occurred.</td>
        </tr>
        <tr style="padding:4px;text-align:left">
            <th style="background:#cccccc" width="150px">Message:</th>
            <td style="padding:4px;text-align:left;background:#eeeeee">{{ error['msg'] }}</td>
        </tr>
        <tr style="padding:4px;text-align:left">
            <th style="background:#cccccc" width="150px">Server:</th>
            <td style="padding:4px;text-align:left;background:#eeeeee"><a href="{{ url('homepage') }}" target="_blank">{{ url('homepage') }}</a></td>
        </tr>
        <tr style="padding:4px;text-align:left">
            <th style="background:#cccccc" width="150px">Generated at:</th>
            <td style="padding:4px;text-align:left;background:#eeeeee">{{ "now"|date("Y-m-d G:i:s e") }}</td>
        </tr>
        </tbody>
    </table>
    <h2 style="background:#0055a4;color:#ffffff;padding:5px">Request</h2>
    <table cellspacing="1" width="100%">
        <tbody>
        <tr style="padding:4px;text-align:left">
            <th style="background:#cccccc" width="150px">Stack Trace</th>
            <td style="padding:4px;text-align:left;background:#eeeeee"><pre>{{ error['trace'] }}</pre></td>
        </tr>
        </tbody>
    </table>
</div>