{# Form row theming #}
{% block form_row %}
    {% spaceless %}
        <div class="form-group {% if errors|length > 0 %}has-error{% endif %}">
            {% if form.vars.name == 'is_active' %}
                {{ form_widget(form) }}
            {% else %}
                <label>{{ form_label(form) }}</label>

                {% if icon is defined %}
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="fa fa-{{ icon }}"></i>
                        </div>
                        {{ form_widget(form, {attr: {class: 'form-control'}}) }}
                    </div>
                    <p class="help-block">{% if errors|length > 0 %}{{ form_errors(form) }}{% endif %}</p>

                {% else %}
                    {{ form_widget(form, {attr: {class: 'form-control'}}) }}
                    <p class="help-block">{% if errors|length > 0 %}{{ form_errors(form) }}{% endif %}</p>
                {% endif %}
                <!-- /.input group -->
            {% endif %}
        </div>
    {% endspaceless %}
{% endblock form_row %}

{% block checkbox_widget -%}
    <div class="checkbox">
            <input type="checkbox" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
            {{ form_label(form) }}
    </div>
{%- endblock checkbox_widget %}

{% block form_errors %}
    {% spaceless %}
        {% if errors|length > 0 %}
            <ul>
                {% for error in errors %}
                    <li>{{ error.message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endspaceless %}
{% endblock form_errors %}