{% extends '@ListBrokingApp/base.html.twig' %}

{% block breadcrumb %}
    <li><a href="{{ url('sonata_admin_dashboard') }}">{{ 'title_dashboard'|trans({}, 'SonataAdminBundle') }}</a></li>
    <li>
        <a href=""{{ url('admin_listbroking_app_extraction_list') }}">Extraction List</a>
    </li>
    <li class="active"><span>{{ extraction.name }}</span></li>
{% endblock %}

{% block sonata_page_content_nav %}
    <nav class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
            <span class="navbar-brand"><i class="fa fa-wrench"></i>&nbsp;Extraction Wizard&nbsp;
                <small>
                    <span class="label label-{% if extraction.status == 3 %}success{% else %}primary{% endif %}">{{ extraction.getStatusName }}</span>
                </small>
            </span>
        </div>
    </nav>
{% endblock sonata_page_content_nav %}

{% block content %}
    <div class="row collapsed">
    <div class="col-xs-12">
        <!-- Nav tabs -->
        {% set filter_tab = '' %}
        {% set summary_tab = '' %}
        {% set confirmation_tab = 'class="disabled"' %}
        {% if extraction.status == 1  %}
            {% set filter_tab = 'class="active"' %}
        {% elseif extraction.status == 2 %}
            {% set summary_tab = 'class="active"' %}
        {% elseif extraction.status == 3 %}
            {% set filter_tab  = 'class="disabled"' %}
            {% set summary_tab = 'class="disabled"' %}
            {% set confirmation_tab  = 'class="active"' %}
        {% endif %}
        <ul class="nav nav-tabs" role="tablist">
            <li {{ filter_tab|raw }}>
                <a href="#filters" role="tab" data-toggle="tab">1 - Filters&nbsp;&nbsp;&nbsp;<i class="fa fa-arrow-circle-right"></i></a>
            </li>
            <li {{ summary_tab|raw }}>
                <a href="#summary" role="tab" data-toggle="tab">2 - Summary&nbsp;&nbsp;&nbsp;<i class="fa fa-arrow-circle-right"></i></a>
            </li>
            <li {{ confirmation_tab|raw }}>
                <a href="#confirmation" role="tab" data-toggle="tab">3 - Confirmation</a>
            </li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            {% if extraction.status != 3 %}
                <div class="tab-pane{% if extraction.status == 1 %} active{% endif %}" id="filters">
                    <div class="panel panel-primary">
                        <div class="panel-heading">The following filters should be seen as a inclusion filters, the only
                            exception are the <b>Lead Details</b></div>
                        <div class="panel-body">
                            {% include '@ListBrokingApp/_partials/forms/filters.html.twig' %}
                        </div>
                    </div>
                </div>
                <div class="tab-pane{% if extraction.status == 2 %} active{% endif %}" id="summary">
                    <div class="panel panel-info">
                        <div class="panel-heading">This summary is not final, filters can always be updated and Leads
                            can be <b>Desduplicated</b></div>
                        <div class="panel-body">
                            <div class="row row-margin">
                                <div class="col-md-6">
                                    {% if has_queues %}
                                        {% set text = "<i class='icon icon-large ion-loading-c'></i>Deduplicating..." %}
                                        {% set alt_text = "Deduplication by File" %}
                                    {% else %}
                                        {% set text = "Deduplication by File" %}
                                        {% set alt_text = "<i class='icon icon-large ion-loading-c'></i>Deduplicating..." %}
                                    {% endif %}
                                    <blockquote>
                                        <p>
                                            <button
                                                    id="lead_deduplication_trigger"
                                                    class="btn btn-flat btn-primary"
                                                    data-toggle="modal"
                                                    data-target="#lead_deduplication_modal"
                                                    data-alt="{{ alt_text }}"
                                                    {% if has_queues is not empty %}disabled="disabled" {% endif %}
                                                    >
                                                {{ text|raw }}
                                            </button>
                                            <small>Used to exclude leads by CSV file</small>
                                        </p>
                                    </blockquote>
                                    {% include '@ListBrokingApp/Extraction/_configuration/modal_deduplication.html.twig' %}
                                </div>
                                <div class="col-md-6">
                                    {% include '@ListBrokingApp/Extraction/_configuration/extraction_summary.html.twig' %}
                                </div>
                            </div>
                            <div class="row">
                                <div id="extraction_table_container" class="col-md-12">
                                    <i class="icon icon-huge ion-loading-c hidden"></i>
                                    <span>
                                        {% include '@ListBrokingApp/Extraction/_configuration/contacts_table.html.twig' %}
                                    </span>
                                </div>
                            </div>
                            <hr>
                            <blockquote class="small-label">
                                <p>
                                    <button class="btn btn-primary disabled"  data-toggle="modal" id="confirm-extraction-btn"
                                       data-target="#create_locks_modal" role="button">
                                        <i class="fa fa-list"></i>&nbsp;Extract
                                    </button>
                                    <input type="checkbox" id="confirm-extraction-chk" class="pull-right"><label>&nbsp;Confirm
                                        as final extraction.</label>
                                    <small>After this step the extraction will be closed and marked as final.</small>
                                </p>
                            </blockquote>
                            {% include '@ListBrokingApp/Extraction/_configuration/modal_locks.html.twig' %}
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="tab-pane active" id="confirmation">
                    <div class="panel panel-success">
                        <div class="panel-heading">This is the <b>final step</b> of the extraction, here you can review
                            the contacts and choose how to send them to the client
                        </div>
                        <div class="panel-body">
                            <div class="row row-margin">
                                <div class="col-md-12">
                                    {% include '@ListBrokingApp/Extraction/_configuration/extraction_summary.html.twig' %}
                                </div>
                            </div>
                            <div class="row">
                                <div id="extraction_table_container" class="col-md-12">
                                    <i class="icon icon-huge ion-loading-c hidden"></i>
                                        <span>
                                            {% include '@ListBrokingApp/Extraction/_configuration/contacts_table.html.twig' %}
                                        </span>
                                </div>
                            </div>
                            <hr>
                            <blockquote class="small-label">
                                <p>

                                    <button class="btn btn-flat btn-primary" data-toggle="modal"
                                            data-target="#delivery_modal">
                                        <i class="fa fa-share"></i>&nbsp;SEND EXTRACTION
                                    </button>
                                    or
                                    <a href="{{ admin.generateObjectUrl('clone', extraction) }}" class="btn btn-flat btn-default" target="_blank">
                                        <i class="fa fa-asterisk"></i>&nbsp;DUPLICATE EXTRACTION
                                    </a>
                                </p>
                            </blockquote>
                            {% include '@ListBrokingApp/Extraction/_configuration/modal_delivery.html.twig' %}
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
        <!-- /.col-xs-12 -->
    </div>
    <!-- /.row -->
{% endblock %}