<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<table cellpadding="0" cellspacing="0" border="0" width="100%" bgcolor="#F2F4F4">
    <tr>
        <td bgcolor="#F2F4F4" style="padding:30px 0">
            <table class="main_table" cellpadding="0" cellspacing="0" border="0" align="center" width="650" bgcolor="#fff" style="font-family:Helvetica,Arial,sans-serif;">
                <tr>
                    <td bgcolor="#3E454F" align="center" style="border-top:5px solid #367FA9; padding:40px;">
                        <img src="{{ domain }}/bundles/listbrokingapp/images/ekit/huge_logo.png" alt="ListBroking"><br>
                    </td>
                </tr>
                <tr>
                    <td align="center" style="padding:30px 0; border-bottom:1px solid #E6E7E8;">
                        <p style="color:#6D6E71; font-weight:300; font-size:14px; padding:0 30px;">Greetings, in the attachments of this email there's a file with your requested extraction</p>
                        <p style="color:#6D6E71; font-weight:300; font-size:14px; padding:0 30px;">File URL: <a href="{{ filepath }}">{{ extraction.name }}</a></p>
                        <p style="color:#6D6E71; font-weight:300; font-size:14px; padding:0 30px;">Zip password: {{ password }}</p>
                        <p style="color:#6D6E71; font-weight:300; font-size:14px; padding:0 30px;">For more information please contact your sales manager</p>
                    </td>
                </tr>
                <tr>
                    <td style="padding: 25px 0 3px 20px;color: #919191;margin-left: 100px;text-align: center;font-size: 12px;line-height: 22px;" align="center">
                        <p>&copy;&nbsp;{{ "now"|date('Y') }}, LISTBROKING ALL RIGHTS RESERVED
                            <a href="#" target="_blank" style="color: #919191;text-decoration: none;cursor: pointer;margin-left: 15px;">
                                <img src="{{ domain }}/bundles/listbrokingapp/images/ekit/adclick-logo.png" alt="ListBroking" style="margin-bottom: -3px;margin-right: 2px;">POWERED
                                BY ADCLICK
                            </a>
                        </p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
</body>
</html>