<div class="navbar-right">
    <ul class="nav navbar-nav">
        <li id="loading_widget">
            <a href="#">
                <i class="icon icon-large ion-loading-c"></i>
                Loading...
            </a>
        </li>
        {% if not(app.request.attributes.get('_route') matches '/(admin_listbroking_app_extraction_|sonata_user_admin_security_login)/i') %}
            <li class="dropdown">
                <div class="dropdown-toggle">
                    <a href="{{ path('admin_listbroking_app_extraction_list') }}" class="btn btn-primary btn-sm navbar-btn btn-flat">
                        <i class="fa fa-filter"></i>&nbsp;START EXTRACTING
                    </a>
                </div>
            </li>
        {% endif %}
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="fa fa-plus-square fa-fw"></i> <i class="fa fa-caret-down"></i>
            </a>
            {% include admin_pool.getTemplate('add_block') %}
        </li>
        {% if app.user and is_granted('ROLE_SUPER_ADMIN') %}
            {% include '@ListBrokingApp/_partials/exceptions_dropdown.html.twig' %}
        {% endif %}
        {% if extraction is defined %}
            {% include '@ListBrokingApp/_partials/extraction_log_dropdown.html.twig' %}
        {% endif %}
        {% if app.user %}
            {% set fullname = app.user.firstname ~ ' ' ~app.user.lastname %}
            <li class="dropdown user-menu">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <span class="glyphicon glyphicon-user"></span> 
                    <strong>{{ fullname }}</strong>
                    <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-user">
                    <li>
                        <div class="navbar-login">
                            <div class="row">
                                <div class="col-lg-4">
                                    <p class="text-center">
                                        <span class="glyphicon glyphicon-user icon-size"></span>
                                    </p>
                                </div>
                                <div class="col-lg-8">
                                    <p class="text-left"><strong>{{ fullname }}</strong></p>

                                    <p class="text-left small">{{ app.user.email }}</p>

                                    <p class="text-left">
                                        {% if is_granted('ROLE_PREVIOUS_ADMIN') and sonata_user.impersonating %}
                                            <a href="{{ url(sonata_user.impersonating.route, sonata_user.impersonating.parameters| merge({'_switch_user': '_exit'})) }}" class="btn btn-primary
                                            btn-block btn-sm">
                                                Stop impersonating</a>
                                        {% endif %}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <div class="navbar-login navbar-login-session">
                            <div class="row">
                                <div class="col-lg-12">
                                    <p>
                                        <a href="{{ url('sonata_user_admin_security_logout') }}" class="btn btn-danger btn-block">{{ 'user_block_logout'|trans({}, 'SonataUserBundle') }}</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </li>
        {% endif %}

    </ul>
</div>